logzero 
inflect 
python-dateutil 
python-telegram-bot 
requests 
emoji 
peewee 
wtf-peewee 
python-decouple 
maya 
asyncpool
redis-collections
Pillow 
Flask 
Flask-Autodoc 
Flask-Security 
Flask-Admin 
Markdown 
tgcrypto
psycopg2
cryptography 
tornado 
sentry-sdk 
ordered-set
https://github.com/pyrogram/pyrogram/archive/asyncio.zip
minio 
